/*MAIN IMAGE*/
#main-image{
  text-align: center;


  /*margin:-300px 0 0 -300px;
  display:block;
  position: absolute;
  left: 50%;
  top: 80%;
  border: 1px solid #999;
  /*read css notes on centering*/
  /*height: 600px;
  width:600px;*/
}

#main-image img{
  text-align: center;
  /*height: 400px;*/
  width:20em;
  position: relative;
  z-index: 0
}

/*BLOG POSTS*/

.title{
  height: 50px;
  width: 300px;
  background-color: greenyellow;
  margin: 20px auto; /*centered title container*/

}
.title h1{
  font-family: "Homemade Apple";
  font-size: 32px;
  text-align: center; /*horizontally centered text*/
  line-height: 60px; /*vertically centers text within title container*/

}

section{}

.blog-area{
  margin:100px auto 100px auto;
  display: block;
  left: 23%;
  top: 23%;
  position:absolute;
  /*background-color: blue;*/
  height: 25em;
  width: 40em;
  text-align: center;
  overflow: scroll;
  padding: 2%;


}

.blog-post{
  width: 200px;
  height: 200px;
  position: relative;
  display:inline-block;
  text-align: center;
  vertical-align: middle;

}


.blog-post a{
  line-height: 30px;
  font-size:20px;
  text-decoration: none;
  font-family: "Homemade Apple";
  color: #580000;
  /*navy;#990066;#383838;*//*#FFF;*//**/
  transition: all 0.3s ease-in; /*delays color transition*/

}

.blog-post a:hover{
  /*color:navy;*/
  /*font-family: "Karla";*/
  -webkit-stroke-width: 5.3px;
    -webkit-stroke-color: #FFFFFF;
    -webkit-fill-color: #FFFFFF;
    text-shadow: 1px 0px 20px  yellow; /*creates glow around text*/



}




