


#column_1{
position: absolute;
height: 300px;
width: 245px;
top: 200px;
background-color: pink;
}

#column_2{
position: absolute;
height: 450px;
width: 240px;
left: 350px;
top: 200px;
background-color: grey;
}

#column_3{
position: absolute;
height: 500px;
width: 240px;
left: 700px;
top: 200px;
background-color: blue;
}

#column_4{
position: absolute;
height: 300px;
width: 233px;
left: 1038px;
top: 200px;
background-color: lime;
}

li {
  margin-bottom: 10px;
}

h2 {
  position: relative;
  left: 76px;
}

h1 {
position: absolute;
font-size: 100px;
left: 114px;
top: -38px;
}
}






































